name: PR automerge

# Automatic deletion of PR branches after merge is done through GitHub repository settings
# https://docs.github.com/en/github/administering-a-repository/managing-the-automatic-deletion-of-branches

# "Require branches to be up to date before merging" is also enabled for the repository

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}

jobs:
  automerge:
    name: Automerge
    runs-on: ubuntu-latest

    steps:
      - name: automerge
        uses: pascalgn/automerge-action@v0.8.4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "automerge,!do NOT merge,!invalid,!wontfix"
          MERGE_METHOD: "squash"
          MERGE_COMMIT_MESSAGE: "automatic"
          MERGE_FORKS: "false"
          MERGE_RETRIES: "2"
          MERGE_RETRY_SLEEP: "60000"
          MERGE_DELETE_BRANCH: "true"
          UPDATE_METHOD: "rebase"
